* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
html,
body {
	background: rgb(95, 89, 228);
	background: linear-gradient(98deg, rgba(95, 89, 228, 1) 0%, rgba(0, 167, 109, 1) 100%, rgba(255, 149, 0, 1) 100%);
	height: auto;
}
header {
	position: absolute;
	top: 25%;
	width: 100%;
}
header h1 {
	padding-top: 100px;
	text-align: center;
	font-size: 45px;
	color: white;
}
header button {
	display: block;
	margin: 0 auto;
	width: 120px;
	margin-top: 10px;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	background: white;
}
header button:hover {
	transform: scale(1.1);
	color: white;
	background: rgb(138, 228, 89);
	background: linear-gradient(58deg, rgba(138, 228, 89, 1) 0%, rgba(0, 167, 109, 1) 100%, rgba(255, 149, 0, 1) 100%);
}
main {
	width: 100%;
}
form {
	display: block;
	margin: 20px auto;
	width: 80%;
}
form .question {
	font-size: 30px;
	text-align: center;
	font-weight: bolder;
	display: block;
	margin: 0 auto;
	color: white;
	padding-top: 50px;
}
.logoImg {
	display: block;
	margin: 0 auto;
	width: 30%;
	max-width: 150px;
}
form input,
.input label {
	width: 50px;
	cursor: pointer;
	font-weight: bolder;
}
form input[type='radio'] {
	position: relative;
	padding: 20px;
	z-index: 1;
	transform: scale(2.1);
}
form .input {
	width: 100%;
	margin-top: 10px;
	background-color: white;
	padding: 17px;
	border: none;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px rgba(224, 224, 224, 0.65);
}
form .input:hover {
	transform: scale(1.1);
}
.btn-submit {
	display: block;
	margin: 20px auto;
	padding: 10px;
	width: 100px;
	border-radius: 10px;
	border: none;
	outline: none;
	background: white;
	font-weight: bolder;
	cursor: pointer;
}
.btn-submit:hover {
	transform: scale(1.1);
	color: white;
	background: rgb(138, 228, 89);
	background: linear-gradient(58deg, rgba(138, 228, 89, 1) 0%, rgba(0, 167, 109, 1) 100%, rgba(255, 149, 0, 1) 100%);
}
.formFooter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
}
.questionNumber,
.score {
	font-size: 20px;
	color: rgb(219, 219, 219);
	text-align: center;
}

.answers {
	font-size: 22px;
	display: block;
	margin: 0 auto;
	width: 80%;
}
.popups h1 {
	padding-top: 40px;
	text-align: center;
}
.results button {
	display: block;
	margin: 10px auto;
	padding: 10px;
	width: 100px;
	border-radius: 10px;
	border: none;
	outline: none;
}
.results,
.wrongAnswer {
	position: relative;
	z-index: 3000;
	transform: translateY(-120%);
	background: rgb(182, 31, 201);
	background: linear-gradient(
		343deg,
		rgba(182, 31, 201, 1) 41%,
		rgba(0, 255, 244, 1) 100%,
		rgba(0, 167, 109, 1) 100%
	);
	display: none;
	padding: 10px;
	text-align: center;
	border-radius: 50px;
	border: none;
	box-shadow: 2px 2px 2px 2px #ffffff63;
	height: 450px;
	width: 75%;
	margin: 0 auto;
	color: white;
	font-weight: bolder;
}

.imgContainer {
	display: block;
	margin: 0 auto;
	width: 80%;
}
.imgContainer img {
	width: 80%;
	max-width: 150px;
	display: block;
	margin: 0 auto;
}

.next-btn,
.restart-btn {
	display: block;
	margin: 20px auto;
	padding: 10px;
	width: 100px;
	border-radius: 10px;
	border: none;
	outline: none;
	background: white;
	font-weight: bolder;
	cursor: pointer;
	background-color: white;
}
